# -------------------------
# Node.js / Backend
# -------------------------
# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build outputs
dist/
build/

# -------------------------
# Frontend / React + Vite
# -------------------------
# Node modules (mesma regra do backend)
node_modules/

# Vite cache
.vite/

# Production build
dist/

# Editor files
*.swp
*.swo
.idea/
.vscode/
.DS_Store

# Optional
*.bak
